body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  color: white;
  background-color: mediumturquoise;
  border-bottom: 1px solid #81fbf8;
  display: flex;
  height: 75px;
  padding: 0 10%;
  width: 80%;
  justify-content: space-between;
}

.cart {
  height: 40px;
  margin-top: 15px;
}
