body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  color: white;
  background-color: mediumturquoise;
  display: flex;
  height: 75px;
  padding: 0 10%;
  width: 80%;
  justify-content: space-between;
}

.cart {
  height: 40px;
  margin-top: 15px;
}

aside {
  border-width: 0 1px;
  border-style: solid;
  border-color: mediumturquoise;
  float: left;
  height: 100%;
  padding-left: 10px;
  position: absolute;
  width: 18%;
}

h4 {
  background-color: #a9eef0;
  margin: 0 0 0 -10px;
  padding: 10px 0 10px 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 10px;
}

a {
  color: black;
  text-decoration: none;
}
